sphinx == 5.3.0
myst-parser @ git+https://github.com/executablebooks/MyST-Parser@2a206a8777a004c9be3c6138ed8c7505771c8567 # 0.18.1 + some fixes + support for Sphinx 6
sphinx-rtd-theme == 1.2.0
sphinx-notfound-page == 0.8.3
sphinx-last-updated-by-git == 0.3.4
sphinx-copybutton == 0.5.1
