{# Add rst-badge after rst-versions for small badge style. #}
<div class="rst-versions" data-toggle="rst-versions" role="note" aria-label="versions">
	<span class="rst-current-version" data-toggle="rst-current-version">
		<span class="fa fa-book"> {{_('Versions')}}</span>
		v: {{ version }}
		<span class="fa fa-caret-down"></span>
	</span>
	<div class="rst-other-versions">
		{% if languages|length >= 1 %}
		<dl>
			<dt>{{ _('Langages') }}</dt>
			{% for slug, url in languages %}
			{% if slug == language %} <strong> {% endif %}
				<dd><a href="{{ pathto(url + pagename) }}">{{ slug }}</a></dd>
				{% if slug == language %} </strong> {% endif %}
			{% endfor %}
		</dl>
		{% endif %}
		{% if versions|length >= 1 %}
		<dl>
			<dt>{{ _('Versions') }}</dt>
			{% for slug, url in versions %}
			{% if slug == version %} <strong> {% endif %}
				<dd><a href="{{ pathto(url + pagename) }}">{{ slug }}</a></dd>
				{% if slug == version %} </strong> {% endif %}
			{% endfor %}
		</dl>
		{% endif %}
		{% if downloads|length >= 1 %}
		<dl>
			<dt>{{ _('Téléchargements') }}</dt>
			{% for type, url in downloads %}
			<dd><a download href="{{ pathto(url, 1) }}">{{ type|upper }}</a></dd>
			{% endfor %}
		</dl>
		{% endif %}
	</div>
</div>

