/* Add maximum height for content's images */
.rst-content img {
	max-height: 30rem;
}

/* Override blockquotes style */
.rst-content blockquote {
	border-left: #bbb solid 4px;
	color: #555;
	margin-left: 0;
	padding-left: 20px;
}

/* Style links on hover */
a:not(.btn):hover {
	text-decoration: underline solid 1px;
}

/* Fix underline for links with icon */
a.fa::before, a.icon::before, a button.toctree-expand::before {
	display: initial;
	text-decoration: initial !important;
}

/* Specific styles for links to glossary terms */
.rst-content .xref.std-term {
	text-decoration: underline dotted 1px;
}

/* Specific styles for external links */
.rst-content a.reference.external::after {
	font-family: FontAwesome;
	content: "";
	display: inline-block;
	vertical-align: top;
	font-size: 70%;
	margin-left: .2rem;
}
