/* Add maximum height for content's images */
.rst-content img {
	max-height: 30rem;
}

/* Override blockquotes style */
.rst-content blockquote {
	border-left: #bbb solid 4px;
	color: #555;
	margin-left: 0;
	padding-left: 20px;
}

/* Style links on hover */
a:not(.btn):hover {
	text-decoration: underline solid 1px;
}

/* Fix underline for links with icon */
a.fa::before, a.icon::before, a button.toctree-expand::before {
	display: initial;
	text-decoration: initial !important;
}

/* Specific styles for links to glossary terms */
.rst-content .xref.std-term {
	text-decoration: underline dotted 1px;
}

/* Specific styles for external links */
.rst-content a.reference.external::after {
	font-family: FontAwesome;
	content: "ï‚Ž";
	display: inline-block;
	vertical-align: top;
	font-size: 70%;
	margin-left: .2rem;
}

/* Highlight version selector on hover */
.rst-current-version:hover {
	background: rgba(255,255,255,0.1);
}

/* Fix navbar scroll until bottom */
.rst-current-version {height: 2.5rem; /* lock version selector's height */}
.wy-nav-side {padding-bottom: 2.5rem; /* set correct padding for the nav */}

/* Disable scroll in version selector */
.rst-versions.shift-up {
	overflow-y: auto;
}
