/* Add maximum height for content's images */
.rst-content img {
	max-height: 30rem;
}

/* Override blockquotes style */
.rst-content blockquote {
	border-left: #bbb solid 4px;
	color: #555;
	margin-left: 0;
	padding-left: 20px;
}

/* Specific styles for links to glossary terms */
.rst-content .xref.std-term {
	text-decoration: underline dotted 1px;
}

/* Specific styles for external links */
.rst-content a.reference.external::after {
	font-family: FontAwesome;
	content: "";
	vertical-align: top;
	font-size: 70%;
	margin: 0 .2em;
}
