name: build

on:
  pull_request:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: Install apt packages
        run: sudo apt-get install --no-install-recommends -y gettext
      - name: Setup problem matcher
        uses: xt0rted/markdownlint-problem-matcher@v2
      - name: Markdownlint
        run: >
          npx --package markdownlint-cli@0.32.0 --
          markdownlint '**/*.md' --ignore '_*' --ignore README.md
      - name: Make check-po
        run: |
          echo '::add-matcher::.github/matchers/gettext.json'
          make check-po
          echo '::remove-matcher owner=gettext::'
          echo '::remove-matcher owner=gettext-no-severity::'
  linkcheck:
    runs-on: ubuntu-22.04
    env:
      SPHINXOPTS: --color -n -Dsuppress_warnings=git.too_shallow
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: Install apt packages
        run: sudo apt-get install --no-install-recommends -y gettext graphviz
      - name: Restore pip cache
        uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('.github/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-
      - name: Install pip packages
        run: pip install -r .github/requirements.txt
      - name: Make linkcheck
        run: make linkcheck --keep-going
      - name: Collect Sphinx errors
        if: ${{ always() }}
        run: |
          echo '::add-matcher::.github/matchers/sphinx.json'
          sort -u -k2  _build/linkcheck/*/output.txt
          echo '::remove-matcher owner=sphinx::'
          echo '::remove-matcher owner=sphinx-translated::'
          echo '::remove-matcher owner=sphinx-loose::'
          echo '::remove-matcher owner=sphinx-loose-no-severity::'
          echo '::remove-matcher owner=sphinx-no-file::'
  html:
    runs-on: ubuntu-22.04
    env:
      SPHINXOPTS: --color -n -Dsuppress_warnings=git.too_shallow
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: Install apt packages
        run: sudo apt-get install --no-install-recommends -y gettext graphviz
      - name: Restore pip cache
        uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('.github/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-
      - name: Install pip packages
        run: pip install -r .github/requirements.txt
      - name: Make html/fr
        run: make html/fr O='-w errors.html.fr.log'
      - name: Make html/en
        run: make html/en O='-w errors.html.en.log'
      - name: Collect Sphinx errors
        if: ${{ always() }}
        run: |
          echo '::add-matcher::.github/matchers/sphinx.json'
          sed 's/\x1b\[[0-9;]*[mGKHF]//g' errors.*.log | sort -u
          echo '::remove-matcher owner=sphinx::'
          echo '::remove-matcher owner=sphinx-translated::'
          echo '::remove-matcher owner=sphinx-loose::'
          echo '::remove-matcher owner=sphinx-loose-no-severity::'
          echo '::remove-matcher owner=sphinx-no-file::'
      - name: Upload html artifact
        uses: actions/upload-artifact@v3
        with:
          name: docs-html
          path: _build/html
  latex:
    runs-on: ubuntu-22.04
    env:
      SPHINXOPTS: --color -Dsuppress_warnings=git.too_shallow
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: Install apt packages
        run: >
          sudo apt-get install --no-install-recommends -y
          graphviz
          latexmk
          texlive-luatex
          texlive-latex-extra
          texlive-fonts-recommended
          texlive-lang-french
          fonts-dejavu
          xindy
          imagemagick
      - name: Install TwemojiMozilla font
        run: |
          wget -nv https://github.com/mozilla/twemoji-colr/releases/download/v0.6.0/TwemojiMozilla.ttf
          echo 'e52ebdb734105d3d634936b5ee436b2b91bed9c0200f0e9c84c7d663224610c7  TwemojiMozilla.ttf' | sha256sum -c
          mkdir ~/.fonts
          mv TwemojiMozilla.ttf ~/.fonts/
          fc-cache
      - name: Restore pip cache
        uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('.github/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-
      - name: Install pip packages
        run: pip install -r .github/requirements.txt
      - name: Restore LuaTex cache
        uses: actions/cache@v3
        with:
          path: ~/.texlive2021
          key: ${{ runner.os }}-texlive2021-${{ hashFiles('.github/workflows/deploy.yml') }}
          restore-keys: |
            ${{ runner.os }}-texlive2021-
      - name: Make latexpdf/fr
        run: |
          echo '::add-matcher::.github/matchers/latex.json'
          make latexpdf/fr
          echo '::remove-matcher owner=latex-error::'
          echo '::remove-matcher owner=latex-line-error::'
          echo '::remove-matcher owner=latex-under-over-full::'
          echo '::remove-matcher owner=latex-warning::'
      - name: Upload pdf artifact
        uses: actions/upload-artifact@v3
        with:
          name: docs-pdf
          path: _build/latex/fr/club1.pdf
