name: build

on:
  pull_request:
    branches:
      - main

jobs:
  html:
    runs-on: ubuntu-latest
    env:
      SPHINXOPTS: --color -n
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: Install apt packages
        run: sudo apt-get install --no-install-recommends -y gettext
      - name: Restore pip cache
        uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('.github/workflows/deploy.yml') }}
          restore-keys: |
            ${{ runner.os }}-pip-
      - name: Install pip packages
        run: >
          pip install
          sphinx==4.5.0
          myst-parser==0.17.2
          sphinx-rtd-theme==1.0.0
      - name: Make html/fr
        run: make html/fr O='-w errors.html.fr.log'
      - name: Make html/en
        run: make html/en O='-w errors.html.en.log'
      - name: Make linkcheck
        run: make linkcheck --keep-going || true
      - name: Collect Sphinx errors
        run: |
          echo '::add-matcher::.github/matchers/sphinx.json'
          {
            sed 's/\x1b\[[0-9;]*[mGKHF]//g' errors.*.log;
            sort -u -k2  _build/linkcheck/*/output.txt;
          } | sort -u
          echo '::remove-matcher owner=sphinx::'
  latex:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: Install apt packages
        run: >
          sudo apt-get install --no-install-recommends -y
          latexmk
          texlive-luatex
          texlive-latex-extra
          texlive-fonts-recommended
          texlive-lang-french
          fonts-dejavu
          xindy
          imagemagick
      - name: Install TwemojiMozilla font
        run: |
          wget -nv https://github.com/mozilla/twemoji-colr/releases/download/v0.6.0/TwemojiMozilla.ttf
          echo 'e52ebdb734105d3d634936b5ee436b2b91bed9c0200f0e9c84c7d663224610c7  TwemojiMozilla.ttf' | sha256sum -c
          mkdir ~/.fonts
          mv TwemojiMozilla.ttf ~/.fonts/
          fc-cache
      - name: Restore pip cache
        uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('.github/workflows/deploy.yml') }}
          restore-keys: |
            ${{ runner.os }}-pip-
      - name: Install pip packages
        run: >
          pip install
          sphinx==4.5.0
          myst-parser==0.17.2
          sphinx-rtd-theme==1.0.0
      - name: Restore LuaTex cache
        uses: actions/cache@v3
        with:
          path: ~/.texlive2021
          key: ${{ runner.os }}-texlive2021-${{ hashFiles('.github/workflows/deploy.yml') }}
          restore-keys: |
            ${{ runner.os }}-texlive2021-
      - name: Make latexpdf/fr
        run: |
          echo '::add-matcher::.github/matchers/latex.json'
          make latexpdf/fr
          echo '::remove-matcher owner=latex-error::'
          echo '::remove-matcher owner=latex-line-error::'
          echo '::remove-matcher owner=latex-under-over-full::'
          echo '::remove-matcher owner=latex-warning::'
      - name: Upload pdf artifact
        uses: actions/upload-artifact@v3
        with:
          name: club1-fr.pdf
          path: _build/latex/fr/club1.pdf
